/* src/components/Navbar.css */
.navbar {
    background-color: #252627;
    padding: 10px 20px;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar-link:hover {
    color: #61dafb; /* Change color on hover */
  }